<html>
	<body>
		<h3>Dear #leader_name,</h3>
		<p>Your team, #team_name, has been successfully registered for CodeZilla 2018.</p>
		<p>For any queries, reply back to this email without changing the subject line.</p>
		<p>
			<b>Team ID:</b> #team_id<br>
			<b>Team Members:</b> #members<br>
			<b>Venue:</b> Q-Block, MIET Meerut<br>
			<b>Timings:</b> #timings<br>
		</p>
		<p>Regards,<br><b>Team CodeZilla</b></p>
	</body>
</html>